include *.in
include *.ini
include *.rst
include *.txt
global-include *.c
global-include *.py
global-include *.pyi
global-include *.png
global-include *.tiff
global-include *.0*
include LICENSE


global-exclude __pycache__ *.py[cod]

