include *.in
include *.ini
include *.rst
include *.txt
include *.c
include *.py

include LICENSE


global-exclude __pycache__ *.py[cod]

# exclude torchbox/misc/sampling.py
# exclude torchbox/dsp/ffts.py
